body::before{
    display: block;
    content:  ;
    height: 30px;
}
#boxes .card{
    min-height: 100px;
}

#instructors .card{
    min-height: 100px
}

.card img{
    background-color: rgb(197, 197, 197);
    width: 100px;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;            
    }
}

